.leftside .block.sb_admin_menu{padding:0;}

.admin-menu {padding: 0;}
.admin-menu li { padding: 5px 20px; position: relative;}
/*.admin-menu li.expanded.open { background-color: #2d2d2d;}*/
.admin-menu li a { font: 400 14px Roboto; transition: all 0.3s;}
.admin-menu li a i { font-size: 18px; margin-right: 10px; width: 20px;}
/*.admin-menu .expanded:before {top: -2px; color: #fff; font-family: "Ionicons"; font-size: 10px; margin-left: -17px;  position: absolute; content: "\f123"; transform: rotate(-90deg); transition: transform 0.3s;}
.admin-menu .expanded.open:before {transform: rotate(0deg);}*/
.admin-menu .toggle-menu { border-bottom: 1px dotted #aaa; display: none; margin-bottom: 15px; padding: 10px 0 15px 10px;}
.admin-menu .toggle-menu li { padding: 0 0 0 15px; }
.admin-menu .toggle-menu li a { display: block; font: 400 13px Roboto; padding: 3px 10px 3px 20px; position: relative;}
.admin-menu .toggle-menu li a:hover { text-decoration: underline; background-color: #fff; color:#2d2d2d !important; border-radius: 3px;}
.admin-menu .toggle-menu li a:hover i { color:#2d2d2d !important;}
.toggle-menu li a:before {font-family: FontAwesome; left: 8px; position: absolute; top: 4px; content: "\f101";}
.admin-menu .open .toggle-menu {display:block;}
.admin-menu .open > a {font-weight: 500;}

section.left-sidebar .block_sb_admin_menu.block .content {padding: 0 0 15px !important;}

.admin-menu-manage {padding-bottom: 50px;}
.admin-menu-manage li {position: relative; font: 15px Roboto; border-bottom: 1px solid #e7e7e7; padding: 10px 5px 15px; width: 45%; float: left; margin-right: 5%; margin-bottom: 5px;}
.admin-menu-manage li .onoff-switch {position: absolute; right: 5px; top: 7px;}

.onoff-switch .cmn-toggle {position: absolute;margin-left: -9999px;visibility: hidden;}
.onoff-switch .cmn-toggle + span {display: block;position: relative;cursor: pointer;outline: none;-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.onoff-switch input.cmn-toggle-round + span { padding: 2px; width: 44px; height: 24px; background-color: #dddddd;-webkit-border-radius: 60px; -moz-border-radius: 60px; -ms-border-radius: 60px; -o-border-radius: 60px; border-radius: 60px;}
.onoff-switch input.cmn-toggle-round + span:before, .onoff-switch input.cmn-toggle-round + span:after { display: block; position: absolute; top: 1px; left: 1px; bottom: 1px; content: "";}
.onoff-switch input.cmn-toggle-round + span:before { right: 1px; background-color: #f1f1f1; -webkit-border-radius: 60px;-moz-border-radius: 60px; -ms-border-radius: 60px; -o-border-radius: 60px; border-radius: 60px; -webkit-transition: background 0.4s; -moz-transition: background 0.4s; -o-transition: background 0.4s; transition: background 0.4s;}
.onoff-switch input.cmn-toggle-round + span:after { width: 22px; background-color: #fff; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -webkit-transition: margin 0.4s; -moz-transition: margin 0.4s; -o-transition: margin 0.4s; transition: margin 0.4s;}
.onoff-switch input.cmn-toggle-round:checked + span:before { background-color: #8ce196;}
.onoff-switch input.cmn-toggle-round:checked + span:after { margin-left: 20px; }