.block.block_sb_coursenav {background-color: transparent;}
.block.block_sb_coursenav .content {padding: 0;}
.block.block_sb_coursenav .course-navigation-header {padding: 12px 20px 0; position: relative; height: 71px; display: none;}
.course-sidebar.open .block.block_sb_coursenav .course-navigation-header { background-color: #333333; height: auto; display: block; }
.block_sb_coursenav .course-navigation-header .course-name {border-bottom: 1px dashed #ccc;color: #fff; display: none;  font: 300 18px/24px Roboto; margin: 0 -20px 8px; max-height: 55px; min-height: 35px; overflow: hidden; padding: 0 20px 13px 51px;}
.block_sb_coursenav .course-navigation-header .course-name i {border: 1px solid #fff; border-radius: 50%; display: inline-block; font-size: 18px; height: 25px; left: 18px; line-height: 21px; position: absolute; text-align: center; width: 25px;}
.course-sidebar.open .block_sb_coursenav .course-navigation-header .course-name {display:block;}
.block_sb_coursenav .course-navigation-header .category-name {color: #eee;font: 500 12px Roboto; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;margin-bottom: 5px; display:none;}
.course-sidebar.open .block_sb_coursenav .course-navigation-header .category-name {display:block;}
.block_sb_coursenav .course-navigation-header .course-teachers {color: #fff;font: 12px Roboto; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display:none;}
.course-sidebar.open .block_sb_coursenav .course-navigation-header .course-teachers {display:block;}
.course-navigation-header .course-nav-toggler { color: #eee; cursor: pointer; position: absolute;  right: 21px;  top: 11px; font-size: 41px;}
.course-sidebar.open .course-navigation-header .course-nav-toggler {font-size: 18px; right: 13px; top: 12px;}
.course-navigation-header .course-nav-toggler:hover { color: #fff;}
.course-navigation-header .course-nav-toggler i.active {display: block;}
.course-content-box {padding: 0; display: none;}
.course-sidebar.open .course-content-box {display: block; position: relative;}
.course-sidebar.open .block ~ .block {display: block;}
.course-content-box .course-section-box a {color: #fff; font: 14px Roboto;}
.course-content-box .course-section-box a.section-header {display:block;}
.course-content-box .course-section-box a.section-header i {font-size: 12px; margin-left: 6px;}
.course-content-box .course-section-box.open a.section-header i {transform: rotate(-180deg);}
.course-section-box { padding: 20px 20px 20px 62px; position: relative; }
.course-section-box.open { background-color: #2d2d2d;}
.course-content-box:after { background-color: #dbbb54; content: ""; height: calc(100% - 22px); left: 37px; margin-top: 22px; position: absolute; top: 0; width: 1px; z-index: 1;}
.course-section-box .section-counter { background-color: #333; border-radius: 3px; color: #dbbb54; content: "1"; display: block; font: 500 11px/14px Roboto; height: 16px; left: 25px; position: absolute; text-align: center; width: 24px; border:1px solid #dbbb54; z-index: 2;}
.course-section-box.open .section-counter {background-color: #2d2d2d; color: #dbbb54;}
.course-section-box.open .section-summary, .course-section-box.open .section-summary {display: block;}
.course-section-box .section-summary {color: #ddd; font: 13px/19px Roboto; padding-top: 7px; margin-bottom: 10px; display:none;}
.course-section-box.open li {display: block;}
.course-section-box li {padding: 5px 0; display:none;}
.course-section-box li a {color: #eee; font-size: 12px; font-weight: 500;}
.course-section-box li a:hover, .course-section-box li a.current {color: #fff;}
.course-section-box li a img {height: 23px; margin-right: 6px; width: 23px;}
.course-section-box:last-child:before {background-color: #333; content: ""; display: block; height: 100%; left: 35px;  position: absolute; width: 5px; z-index: 2;}
.course-section-box:last-child.open:before {background-color: #2d2d2d; content: ""; display: block; height: calc(100% - 20px); left: 35px;  position: absolute; width: 5px; z-index: 2;}

.course-navigation-block .course-menu{display: block;}
.course-sidebar.open .block_sb_coursenav .course-menu{padding-left: 20px;padding-top: 5px;}
.course-navigation-block .course-menu li a span{ display: none;}
.course-sidebar.open .block_sb_coursenav .course-menu li a span{display: inline-block;font-size: 14px; font-weight: 500;  margin-left: 10px;}
.course-sidebar.open .block_sb_coursenav .course-menu li a{text-align: left; height:auto; line-height:21px;font-size: 18px;}
.course-sidebar.open .block_sb_coursenav .course-menu li + li{margin-top: 5px;}

.course-content-toggledbox {display:block;}
.course-sidebar.open .course-content-toggledbox {display:none;}
.course-navigation-block .course-menu li a,
.course-content-toggledbox li a { color: #fff;display: block; font-size: 30px; height: 70px; line-height: 71px; outline: medium none; position: relative; text-align: center;}

.course-nav-progressbox {margin: 20px 25px 25px; display: none;}
.course-sidebar.open .course-nav-progressbox {display: block;}
.course-nav-progressbox .progres-bar{background-color: #777; border-radius: 8px; clear: both; height: 14px; width: 100%;box-shadow: 0 0 1px #000 inset;}
.course-nav-progressbox .progres-bar .progres{ background-color: #f1ba39;border-radius: 8px; height: 100%;}
.course-completion-items {background-color: #f1ba39; border: 1px solid #f1ba39; border-radius: 3px; color: #8f6100; font: 600 12px/12px Roboto; margin-bottom: 12px; padding: 6px 0; position: relative; text-align: center; width: 45px;}
.course-completion-items:after {border-top: 8px solid #f1ba39; border-left: 8px solid transparent; border-right: 8px solid transparent; content: ""; display: inline-block; position: absolute; right: 14px; bottom: -8px;}



