.content.current-status {border-top: 1px dashed #ccc; margin-top: 25px; padding-top: 25px;}
.content.current-status > h2 {margin-bottom: 15px; text-align: center; font:300 16px Roboto; color: #333;}
div.scormcloud-container {
	margin-top: 8px;
}