.gamification-search-form {text-align: right;}
.gamification-search-form label {display: initial;}
.gamification-search-form label[for="downloadtype_download"] {display: inline-block;}
.gamification-search-form select {width:180px;}
.gamification-search-form input[type="text"] {height: 32px; margin-right: 3px;}
.gamification-search-form a.btn {margin: -11px 5px 0 0;}

.path-local-gamification .mdl-align {text-align: right;}