.block_sb_calendar.block {background-color: transparent;}
.block_sb_calendar.block .content {padding: 0;}

.dashboard-calendar-box {margin: 5px 0;}
.dashboard-calendar-events {margin-top: 10px;}
.dashboard-calendar-events .day-title {background-color: #ddd; border-radius: 3px; color: #555; font: 500 12px "Roboto"; margin-bottom: 5px; padding: 10px; position: relative;}
.dashboard-calendar-events .day-title .ion-ios-close-outline {color: #777; font-size: 18px; position: absolute; right: 7px;  top: 5px; cursor: pointer;}
.dashboard-calendar-events ul {list-style:none; margin: -5px 0 0; padding:0 5px;background-color: #f2f2f2;}
.dashboard-calendar-events ul li {border-bottom:1px dashed #ccc;padding:7px; position:relative;background-color:#f2f2f2; min-height: 70px;}
.dashboard-calendar-events ul li:last-child {border-bottom:0;}
.dashboard-calendar-events ul li:hover {background-color:#eee;}
.dashboard-calendar-events ul li .event-time-box{color:#626262;font:11px/14px "Roboto";position:absolute;text-align:right;width:53px;}
.dashboard-calendar-events ul li .event-time-box span {border-bottom:1px solid #bbb; color:#008096; display:inline-block; font: 500 11px "Roboto";margin-bottom:5px;padding:2px 0 2px 2px;}
.dashboard-calendar-events ul li .event-body {color:#999;font:12px/17px "Roboto";margin-left:70px;overflow:hidden;text-overflow:ellipsis;position:relative; padding-right: 20px;}
.dashboard-calendar-events ul li .event-body .title {border:0;color:#555;font:500 13px "Roboto"; margin:0; padding:2px 0;}
.dashboard-calendar-events ul li .event-body .title a {border:0;color:#555;font:500 13px "Roboto"; margin:0; padding:2px 0;}
.dashboard-calendar-events ul li .event-body .title a:hover {text-decoration:none; color:#444;}
.dashboard-calendar-events ul li .event-body.open {height:auto;overflow:none;text-overflow:inherit;}
body .dashboard-calendar-events ul li .event-body .fa {  position: absolute;bottom: 8px; cursor: pointer; right: 5px; color:#2082c7; display:none;}
.dashboard-calendar-events ul li .event-body .fa:hover {color:#5e5e5e;}
.dashboard-calendar-events ul li .event-body .fa-chevron-up {display:none;}
.dashboard-calendar-events ul li .event-body .fa-chevron-down {display:inline-block;}
.dashboard-calendar-events ul li .event-body.open .fa-chevron-down {display:none;}
.dashboard-calendar-events ul li .event-body.open .fa-chevron-up {display:inline-block;}
.dashboard-calendar-events .add-btn {text-align: center; margin-top: 10px;}
.dashboard-calendar-events .add-btn .btn {padding: 3px 15px;}

.dashboard-calendar-header { border-bottom: 1px dashed #ccc; color:#333; font: 300 17px Roboto; margin-bottom: 5px; padding-bottom: 8px;}
.dashboard-calendar .fc-toolbar {margin-bottom:0px;}
.dashboard-calendar .fc-toolbar h2 {color:#565656;font:500 12px "Roboto";margin:0 !important;padding:2px 5px 0 0;text-align:left;}
.dashboard-calendar .fc-toolbar .fc-button {padding:0;height:1.5em;line-height:1.3em; margin:0;}
.dashboard-calendar .fc-basic-view td.fc-day-number, .dashboard-calendar .fc-basic-view td.fc-week-number span {color:#444;float:none;font:500 13px "Roboto";padding:10px 2px 0px;text-align:center;}
.dashboard-calendar .fc-basic-view td.fc-day-content {height:7px; padding:1px 2px;}
.dashboard-calendar .fc-basic-view td.fc-state-highlight {background: #eee none repeat scroll 0 0; color: #3a87ad;}
.fc td.fc-day.fc-sat {border-right:1px solid transparent;}
.fc td.fc-day.fc-sun {border-left:1px solid transparent;}
.dashboard-calendar td.fc-week.fc-last .fc-day {border-bottom:0;}
.dashboard-calendar .fc-widget-header {border-bottom: 1px solid #aaa !important;}
.dashboard-calendar thead th {border:0;color:#777;font:12px "Roboto";padding:4px 0;}
.dashboard-calendar .fc-button-prev .fc-text-arrow, .dashboard-calendar .fc-button-next .fc-text-arrow {color:#777;font-size:1.4em;}
.fc td.fc-day {cursor:pointer;}
.dashboard-calendar .fc-basic-view td.active {background-color:#e7e7e7;}
.dashboard-calendar .fc-day-grid-event.fc-event { border-radius:20px;}
.dashboard-calendar .fc-day-grid-event.fc-event .fc-content {height:2px; border-radius:20px;}
.dashboard-calendar .fc-day-grid-event.fc-event .fc-content .fc-title {display:none;}
.dashboard-calendar .fc-basic-view .fc-body .fc-row {min-height: 35px;}
.fc-unthemed .fc-divider, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {border-color: transparent !important; cursor: pointer;}
.dashboard-calendar-events .loading {padding:40px 0;text-align:center;font-size:27px;color:#888;}
.dashboard-calendar .fc-button.fc-state-default {background-color: transparent; background-image: none; border: 0 none;  box-shadow: none; color: #2082c7;}
.dashboard-calendar .fc-button.fc-state-default:hover {color: #5e5e5e;}


