.block.block_timeline {overflow: hidden;}
.block.block_timeline .content {padding: 0;}
.block.block_timeline .course-timeline-box, .combo-content .course-timeline-box {border-bottom: 1px dashed #ccc; margin: 5px 0 15px; overflow: hidden; padding-bottom: 20px; position: relative;}
.block.block_timeline .timeline-header {border: 0 none; line-height: 32px; margin: 0 0 30px; position: relative; }
.block.block_timeline .timeline-header h2, .combo-content .timeline-header h2 {border-bottom: 1px dashed #ccc;font: 300 17px Roboto; margin-bottom: 5px; padding-bottom: 8px;}
.block.block_timeline .timeline-box, .combo-content .timeline-box {padding-bottom: 15px;}
.block.block_timeline .timeline-box:after, .combo-content .timeline-box:after {background-color: #ccc; content: ""; display: block; height: 100%; left: 85px; position: absolute; top: 30px; width: 2px; z-index: 0;}
.block.block_timeline .timeline-secion, .combo-content .timeline-secion {margin-top: 20px;}
.block.block_timeline .enddate-box, .combo-content .enddate-box {position: absolute; background-color: #2e81cd; border-radius: 1px 0 0 1px; color: #fff; float: left; font: 12px Roboto; padding: 4px 0 4px 6px; width: 95px; z-index: 1; margin-right: 15px;}
.block.block_timeline .enddate-box:after, .combo-content .enddate-box:after{border-left: 11px solid #2e81cd; border-top: 11px solid transparent; border-bottom: 12px solid transparent; content: ""; display: inline-block; position: absolute; left: 100%; top: 0;}
.block.block_timeline .coursename, .combo-content .coursename {color: #626262;font: 400 13px Roboto; margin-left: 0; padding: 3px 0 3px 110px; width: 100%;/*white-space: nowrap;overflow: hidden;text-overflow: ellipsis;*/}
.block.block_timeline .coursename a, .combo-content .coursename a {color: #626262; font: 300 13px Roboto;}
.block.block_timeline .coursename:hover, .combo-content .coursename:hover {background-color: #ddd;}
.block.block_timeline .coursename:hover a, .combo-content .coursename:hover a {color: #333;}
.block.block_timeline .divider, .combo-content .divider { border-top: 1px dashed #ccc; height: 0; margin-top: 20px;}

