.course-content ul.topics {margin:0;}
.course-content ul.topics li.section {list-style: none;margin:0 0 5px 0;padding:0;}
.course-content ul.topics li.section.hidden {padding-bottom: 0 !important;}
.course-content ul.topics li.section .content {margin:0 40px;}
.course-content ul.topics li.section .left,
.course-content ul.topics li.section .right {width:40px;padding: 0 6px;}
.course-content ul.topics li.section .right img.icon { padding: 0 0 4px 0;}
.course-content ul.topics li.section .left {padding-top:22px;text-align: right;}
.jsenabled .course-content ul.topics li.section .left,
.jsenabled .course-content ul.topics li.section .right {width:auto;}
.course-content ul.topics li.section .left .section-handle img.icon { padding:0; vertical-align: baseline; }
.course-content ul.topics li.section .section_action_menu .textmenu,
.course-content ul.topics li.section .section_action_menu .menu-action-text { white-space: nowrap; }

.co_values {width: 50%; min-height: 150px;}
.course_options-search-form {text-align: right;}
.course_options-search-form label { display: initial; position: relative;}
.course_options-search-form a.button { margin: -11px 5px 0 0;}
.path-course-format-kaltura .course-options-box {margin-top: -63px;}
.course-options-box .mdl-align {text-align:right;}
.course-options-box .generaltable .header.c0, .course-options-box .generaltable .cell.c0 {display: none;}
.course-options-box .generaltable .header.c1, .course-options-box .generaltable .cell.c1 {display: none;}
.course-options-box .generaltable .header.c4, .course-options-box .generaltable .cell.c4 {width:110px;}
.course-custom-field {width:40%;}
.manage-options-link a {font: 13px "Roboto";}
.course-options-box img.iconsmall {margin: 0 2px; padding: 0;}
.course-options-box img.iconsmall.move-action {cursor: move;}
table.sorting tr.placeholder, table.sorting tr.placeholder td {background-color:#FDF4BB !important;}
table.sorting tr.not-active {opacity: 0.8;}
table.sorting tr.placeholder {opacity: 1 !important;}
.course-options-box .course_options-search-form input[type="text"]{margin-right: 5px; margin-bottom: 0;}
table.sorting .move-action {cursor:move;}

.course_options-search-form label i { color: #000; font-size: 16px; opacity: 0.2; position: absolute; right: 18px; top: 2px;}
.course_options-search-form .btn { margin-top: -1px; }

.course-content {position: relative;}
.course-content .course-dates { color: #777; float: right; margin-top: -30px; padding: 0; position: relative; text-align: right;}
.course-content .course-dates .course-date-item {display: inline-block; margin-left: 17px;}
.course-content .course-dates i {margin-right: 7px;}
.course-content .course-dates label {color: #444; display: inline-block; font: 500 13px Roboto; margin-right: 5px; }
.course-content .course-dates .course-date {color: #777;}
.course-title-box .course-image {background-size: cover; border-radius: 50%;  box-shadow: 0 0 5px #ddd; height: 60px; position: absolute; width: 60px; padding-top: 5px;}
.course-title {color: #2082c7; font: 24px/30px Roboto; margin-bottom: 3px; padding: 0 140px 0 0; margin-left: 75px;}
.course-custom-toggler {display: inline; margin-left: 10px; position: relative;}
.course-custom-toggler i {color: #777; cursor: pointer; font-size: 25px; margin-top: 2px; position: absolute;}
.course-content .course-teachers-box {color: #777; margin-bottom: 35px; padding: 0; position: relative; min-height: 15px; margin-left: 75px; font-size: 14px;}
.course-content .course-teachers-box i {color: #777; font-size: 27px; line-height: 0; margin-left: 5px; position: absolute; cursor: pointer;}
.course-content .course-teachers-box i.fa-angle-up {top: 6px;}
.course-content .course-teachers-box i.fa-angle-down {top: 7px;}
.course-custom-list {padding: 20px 0 30px; background: none !important; margin-right: -3%; display:none;}
.course-custom-list .course-cutom-item {border-bottom: 1px solid #eee; float: left; margin: 0; padding: 9px; width: 47%; margin-right: 3%;}
.course-custom-list .course-cutom-item > label {cursor: text; display: inline-block; font: 500 13px Roboto; margin: 0; width: 35%;}
.course-custom-list .course-cutom-item > span {vertical-align: top;display: inline-block;width: 65%;}
.course-progress {position: absolute;right: 0; top: 35px; width: 40%;}
.course-progress label {color: #3d3d3d; cursor: text; font-size: 13px; font-weight: 500; padding-right: 5px; position: absolute; text-align: right; width: 120px;}
.course-progress .progress-wrapper {display: inline-block; padding-left: 125px; width: 100%;}
.course-progress .progres-bar{background-color: #e6e6e6; border-radius: 3px; clear: both; height: 15px; margin-bottom: 0;  margin-top: 0; width: 100%;}
.course-progress .progres-bar .progres{ background-color: #06a450; border-radius: 3px; height: 100%;text-align: right;}
.course-progress .progres-bar .progres .procent {color: #fff; display: none; font: 500 14px/14px Roboto; margin-right: 5px; position: relative;}
.course-content .enroll-button {position: absolute; top: 27px; right: 0;}
.course-content.course-not-enrolled .course-dates {margin-top: -15px;}
.course-enrol-box .course-content .section_action_menu, .course-enrol-box .course-content .editing_move, .course-enrol-box .course-content .quickeditlink, .course-enrol-box .course-content .actions, .course-enrol-box .course-content .addresourcemodchooser, .course-enrol-box .course-content #changenumsections {display:none;}
.course-star-rating {position: absolute; right: 0; top: 0;}

.gradesummary-box .info-progress{width:150px;height:14px;background-color:#fff;box-shadow: 0 0 10px #DDDDDD inset;position:relative; margin-top:0;}
.gradesummary-box .info-progress span{display:block;height:100%;position:absolute;top:0;left:0;}
.gradesummary-box .info-progress .current{background-color:#ccc;z-index:1;}
.gradesummary-box .info-progress .avarage{border-right:1px dashed #676767; z-index:2;height:315%;top:-100%;}
.gradesummary-box .info-progress .goal{border-right:3px solid #686868; z-index:3;}
.gradesummary-box .info-hidden{opacity:0;text-indent:-9999px;height: 1px;width:1px;}

.gradesummary-box .info-legeng{float: right;margin-bottom: 10px; padding-top:6px;}
.gradesummary-box .info-legeng p{margin:0 15px 0 0;float:left;}
.gradesummary-box .info-legeng span{margin-right:5px;display:inline-block;}
.gradesummary-box .info-legeng .current{width:10px;height:10px; background-color:#ccc; }
.gradesummary-box .info-legeng .avarage{border-left:1px dashed #676767;width:1px;height: 10px;}
.gradesummary-box .info-legeng .goal{border-left:3px solid #686868;width:1px;height: 10px;}
.gradesummary-box .user-pic img {border: 1px solid #F5F5F5; border-radius: 50%;}
.gradesummary-box .user-pic a {border: 3px solid rgba(91, 155, 180, 0.4); border-radius: 50%; box-shadow: 0 0 1px #FFFFFF;  display: inline-block; margin-right:5px;}
.gradesummary-box .circle-text, .gradesummary-box .circle-info, .gradesummary-box .circle-text-half, .gradesummary-box .circle-info-half {display: inline-block; position: absolute; text-align: center; width: 100%;}
.gradesummary-box .avarage-stat {position: relative; margin: 0 auto -5px;}
.gradesummary-box .viewdetails {margin: 0;}
.gradesummary-box .dataTables_length label {font-size: 12px;}
.gradesummary-box .dataTables_length select {font-size: 12px; height: 21px; margin: 0 5px; padding: 0 20px 0 5px;}
.gradesummary-box table.dataTable td {vertical-align: middle;}
.course-curriculum-box {margin-top: -50px;}
/*.course-curriculum-box.locked:after {background-color: rgba(0, 0, 0, 0.2); border-radius: 4px; content: ""; display: block;font-size: 74px; height: 100%; left: 0; position: absolute; text-align: center; top: 0; vertical-align: middle; width: 100%; z-index: 20;}*/
.locked-description-box {color: #333; display: block; left: 0; margin: 0 auto; position: absolute; text-align: center; top: 10%; width: 100%; z-index: 50;}
.locked-description-box i {color: #444; font-size: 72px;}
/*.locked-description-box .locked-description {display: block;font: 300 20px Roboto;}*/
.course-content .section li.activity table.inlinetable hr {  margin-bottom: 3px; margin-top: 5px;}

@media screen and (max-width: 1000px) {
    .course-content .course-dates { float: none; margin-top: 7px; text-align: left;}
    .course-content .course-dates .course-date-item {margin-left: 0; margin-right: 17px;}
    .course-star-rating {position: absolute; right: 0; top: auto; width: 100px;}
    .course-progress {margin-right: 130px; position: relative; right: 0; top: 0; width: auto;}
    .course-progress label {text-align: left;}
    .course-content .nav-tabs-header {border-top: 1px solid #ddd; margin: 7px -15px;}
    .nav-tabs-header .nav-tabs-simple li {margin: 0; position: relative; width: 50%;}
    .nav-tabs-simple > li:after {margin: 0 auto; width: 85% !important;}
    .nav-tabs-header .nav-tabs-simple li a {margin-right: 0; padding: 9px 20px; text-align: center; }
    .course-content .tab-content .tab-pane {padding: 10px 0;}
    .course-content .course-teachers-box {margin-bottom: 20px;}
    .course-content .course-dates { float: none; margin-top: 7px; text-align: left;}
    .course-content.course-not-enrolled .course-dates {margin-top: 0;}
}
@media screen and (max-width: 640px) {
    body .course-content .enroll-button {margin: 7px 0; position: relative; right: 0; top: 0;}
    .course-content.course-not-enrolled .course-star-rating {margin-bottom: 10px; position: relative; right: 0; top: 0; width: auto;}
}
@media screen and (max-width: 400px) {
    .course-progress {margin-right: 0;}
    .course-star-rating {margin-bottom: 10px; position: relative; right: 0; top: 0; width: auto;}
}
