.block.block_sb_coursenav_sections {background-color: transparent;}
.block.block_sb_coursenav_sections .content {padding: 0;}
.block.block_sb_coursenav_sections .course-navigation-header {background-color: #343434;padding: 12px 20px; position: relative; height: 71px;}
.course-sidebar.open .block.block_sb_coursenav_sections .course-navigation-header { height: auto; }
.block_sb_coursenav_sections .course-navigation-header .course-name {color: #fff; font: 16px/24px Roboto; max-height: 55px; min-height: 35px; overflow: hidden; margin-bottom: 8px; display:none;}
.course-sidebar.open .block_sb_coursenav_sections .course-navigation-header .course-name {display:block;}
.block_sb_coursenav_sections .course-navigation-header .category-name {color: #eee;font: 500 12px Roboto; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;margin-bottom: 5px; display:none;}
.course-sidebar.open .block_sb_coursenav_sections .course-navigation-header .category-name {display:block;}
.block_sb_coursenav_sections .course-navigation-header .course-teachers {color: #fff;font: 12px Roboto; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display:none;}
.course-sidebar.open .block_sb_coursenav_sections .course-navigation-header .course-teachers {display:block;}


.course-sidebar.open .block_sb_coursenav_sections .course-menu{padding-left: 26px;padding-top: 15px;}
.course-sidebar.open .block_sb_coursenav_sections .course-menu li a span{ display: inline-block;font-size: 16px;margin-left: 15px;}
.course-sidebar.open .block_sb_coursenav_sections .course-menu li a{text-align: left; height:auto; line-height:21px;font-size: 18px;}
.course-sidebar.open .block_sb_coursenav_sections .course-menu li + li{margin-top: 5px;}
.course-sidebar.open .block_sb_coursenav_sections .course-navigation-block {border-top:1px dashed #ccc; margin-top: 10px;}

