/**
 * @author zhixin wen <wenzhixin2010@gmail.com>
 */

.ms-parent {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.ms-choice {
    display: block;
    width: 100%;
    height: 34px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #ccc;
    text-align: left;
    white-space: nowrap;
    line-height: 34px;
    color: #444;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
}

.ms-choice:hover, .ms-choice:active, .ms-choice:focus {
    background-color: #fff;
}

.ms-choice.disabled {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.ms-choice > span {
    position: absolute;
    top: 0;
    left: 0;
    right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-left: 15px;
    color: #626262;
}

.ms-choice > span.placeholder {
    color: #999;
}

.ms-choice > div {
    position: absolute;
    top: 4px;
    right: 0;
    width: 20px;
    height: 25px;
    background: url('../pix/arrowdown.gif') no-repeat scroll calc(100% - 5px) 50%;
}

.ms-choice > div.open {
    background: url('../pix/arrowdown.gif') no-repeat scroll calc(100% - 5px) 50%;
}

.ms-drop {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #000;
    display: none;
    margin-top: -12px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.ms-drop.bottom {
    top: 100%;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.ms-drop.top {
    bottom: 100%;
    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.ms-search {
    display: inline-block;
    margin: 0;
    min-height: 26px;
    padding: 4px;
    position: relative;
    white-space: nowrap;
    width: 100%;
    z-index: 10000;
}

.ms-search:after {
    display: block;
    width: 15px;
    height: 15px;
    content: "\f002";
    font-family: FontAwesome;
    color: #ccc;
    position: absolute;
    right:12px;
    top:10px;
    font-size: 16px;
}

.ms-search input {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    font-family: Roboto;
    font-size: 1em;
    height: 30px;
    line-height: 30px;
    margin: 0;
    min-height: 30px;
    outline: 0 none;
    padding: 0 10px;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.ms-search, .ms-search input {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.ms-drop ul {
    overflow: auto;
    margin: 0;
    padding: 5px 8px;
}

.ms-drop ul > li {
    list-style: none;
    display: list-item;
    background-image: none;
    position: static;
}

.ms-drop ul > li .disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
}

.ms-drop ul > li.multiple {
    display: block;
    float: left;
}

.ms-drop ul > li.group {
    clear: both;
}

.ms-drop ul > li.multiple label {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ms-drop ul > li label {
    font-weight: normal;
    display: block;
    white-space: nowrap;
}

.ms-drop ul > li label.optgroup {
    font-weight: bold;
}

.ms-drop input[type="checkbox"] {
    vertical-align: middle;
    margin-left: 5px;
    margin-top: 2px;
    position: absolute;
    visibility: hidden;
    display: block !important;
}

.ms-drop .ms-no-results {
    display: none;
}
