.block_sb_leaderboard.block .title .block_action {display:none;}
.block_sb_leaderboard.block .header h2 {border-bottom: 1px dashed #ccc; font: 300 17px Roboto; margin-bottom: 5px; padding:0 4px 8px; color: #333;}
.block.block_sb_leaderboard .content {padding: 10px 0 5px;}
.block_sb_leaderboard.block .block-control-actions {display:none !important;}
.block_sb_leaderboard .leaderboard-description {display: none;}

.leaderboard-selection .leaderboard-select {background-color: #f2f2f2;}
.block.block_sb_leaderboard .leaderboard-list { padding-top: 5px;}
.block.block_sb_leaderboard .leaderboard-list-item { border: 1px solid #eee; box-shadow: 1px 1px 2px #eee;  margin-bottom: 7px;  padding: 7px 8px; position: relative;}
.block.block_sb_leaderboard .leaderboard-list-item:hover { background-color: #f9f9f9;}
.leaderboard-list-item .leaderboard-table-picture {position: absolute; text-align: left; width: 43px;}
.leaderboard-list-item .leaderboard-table-picture a{ border: 3px solid rgba(91, 155, 180, 0.4); border-radius: 50%; box-shadow: 0 0 1px #FFFFFF;display: inline-block; padding:0;}
.block.block_sb_leaderboard .content .leaderboard-list-item .leaderboard-table-picture img{ border: 1px solid #f5f5f5; border-radius: 50%; height: 30px; margin: 0; width: 30px;}
.leaderboard-list-item .leaderboard-table-user {margin: 0 43px;}
.leaderboard-list-item .leaderboard-table-user .user-name { color: #555; font: 400 12px Roboto; margin-bottom: -3px; padding-top: 3px;}
.leaderboard-list-item .leaderboard-table-user .user-points { color: #999; font: 10px Roboto; display: inline-block;}
.leaderboard-list-item .leaderboard-table-icon {position: absolute; right: 10px; text-align: center; top: 6px;}
.leaderboard-list-item .leaderboard-table-icon .trophy { background-color: #f9f9f9; border: 1px solid #eee; border-radius: 50%; color: #999; display: inline-block; height: 30px; line-height: 29px; margin-top: 3px; text-align: center; width: 30px; }
.leaderboard-list-item .leaderboard-table-icon .trophy.place-1 {border: 1px solid #e5c01d; color: #ffffff; background-color: #F6D32E;}
.leaderboard-list-item .leaderboard-table-icon .trophy.place-2 {border: 1px solid #ccc; color: #fff; background-color: #ddd;}
.leaderboard-list-item .leaderboard-table-icon .trophy.place-3 {border: 1px solid #87492b; color: #ffffff; background-color: #935434;}
.leaderboard-box.loader {text-align: center;}
.leaderboard-box.loader i { font-size: 21px; margin: 20px auto;}
.leaderboard-submit-box .leaderboard-submit-btn {width: 100%;}