.block.block_course_catalog .content {padding:0;}
.block.block_course_catalog .tab-content .tab-pane {padding:25px 0;}
.block.block_course_catalog .block-control-actions {display:none !important;}
.block_course_catalog .form-filter {display: block; float:right;}
.block_course_catalog .form-filter:hover:after {height: 0;}
.block_course_catalog .form-filter fieldset {display: none;}
.block_course_catalog .form-filter fieldset.active {display: block; float:right; }
.block_course_catalog .form-filter fieldset.courseactionsbox {display: block; float:right; margin-left: 18px;}
.block_course_catalog .form-filter fieldset.courseactionsbox span {cursor: pointer; margin: 0 3px;}
.block_course_catalog .form-filter fieldset.courseactionsbox span i {font-size: 21px; line-height: 26px;}
.courseactionsbox span.action-view i {display:none;}
.courseactionsbox span.action-view i.active {display:inline-block;}
.coursfilterbox span {display: inline-block; font: 10px/27px Roboto; padding: 0 13px; text-transform: uppercase; width: auto;}
.block.block_course_catalog .coursfilterbox select {font-size: 13px; height: 27px; line-height: 27px;  margin: 0; padding: 0 20px 0 5px; width: auto; background-color: #f2f2f2;}
.block.block_course_catalog .coursfilterbox select.menucourses_cat {width: 115px;}
.block.block_course_catalog .coursfilterbox select.menucourses_status {width: 85px;}
.coursesortbox span.active, .coursesortbox span:hover {color:#2082c7;}
.coursesortbox span {display: inline-block; font: 12px/27px Roboto; margin: 0 7px; cursor:pointer;}
.coursesortbox span i {margin-right: 2px; display:none;}
.coursesortbox span i.active {display: inline;}

.tab-content.grid-view .frontpage-courses-list .courses .coursebox h3.coursename { background-color: transparent; border-bottom: 1px dashed #ccc; font-weight: 500; height: 40px; min-height: 40px; line-height: 19px; margin: 0; overflow: hidden; padding: 9px 0; text-align: left; text-overflow: ellipsis; text-transform: none; white-space: nowrap; width: 100%; margin-bottom: 10px;}
.tab-content.grid-view .frontpage-courses-list .courses .coursebox h4.course-teacher {padding: 0;text-overflow: ellipsis;hite-space: nowrap; width: 100%;overflow: hidden; height: 20px; min-height: 20px;}
.tab-content.grid-view .frontpage-courses-list .courses .coursebox h4.course-category {font:400 14px Roboto; padding: 0;text-overflow: ellipsis;hite-space: nowrap; width: 100%;overflow: hidden; height: 20px; min-height: 20px; margin: 0; text-align: left;}
.tab-content.grid-view .frontpage-courses-list .courses .coursebox .user-progress {padding: 0;}
.tab-content.grid-view .frontpage-courses-list .courses .coursebox .user-progress .progres-bar {display: none;}
.tab-content.grid-view .frontpage-courses-list .courses .coursebox:hover {background-color: transparent;}
.tab-content.grid-view .frontpage-courses-list .courses .coursebox h4.course-users {padding: 0;}
.tab-content.grid-view .frontpage-courses-list .courses .coursebox h4.course-users i {width: 20px;}
.tab-content.grid-view .frontpage-courses-list .courses .coursebox h4.courses-assigned {font: 400 14px Roboto; margin: 0;  padding: 0; text-align: left; min-height: 23px;}
.tab-content.grid-view .frontpage-courses-list .courses .coursebox h4.courses-assigned i {width: 20px;}

.tab-content.list-view .frontpage-courses-list .courses .coursebox {border-bottom: 2px solid #ddd; float: none; margin: 0;  max-width: 100%; min-height: 137px; padding: 10px 0 12px; position: relative; text-align: left; width: 100%;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox > a {height: 115px; position: absolute; width: 210px;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox h3.coursename {margin-left: 210px; width: auto; min-height: 0;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox h3.coursename a {border-bottom: 1px dashed #ccc;padding-bottom: 5px; display: block;font-size: 15px;  font-weight: 500; padding-right: 140px;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox h4.course-teacher {margin-left: 210px; margin-right: 143px; width: auto; min-height: 0;font-size: 14px;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox h4.course-category {margin: 0 0 0 210px; width: auto; min-height: 0;font-size: 14px; font-weight: 400; padding: 0 15px; margin-right: 143px;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox h4.course-users {margin-left: 210px; width: auto; min-height: 0;font-size: 14px;  margin-right: 143px; padding: 5px 15px;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox h4.courses-assigned { width: auto; min-height: 0;font-size: 14px; font-weight: 400; margin: 0 143px 0 210px; padding: 0 15px; }
.tab-content.list-view .frontpage-courses-list .courses .coursebox .user-progress {margin-left: 210px; width: auto; min-height: 0; margin-right: 143px;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox .user-progress span{font-size: 14px;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox .user-progress > div{ float: left; width:48%;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox .user-progress > div:first-child{margin-right: 4%;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox .course-done{ top:10px; left:10px;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox .course-dates {display: block;color: #555; font-size: 13px; margin: 0; padding: 0; right: 8px; top: 8px; position: absolute;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox .user-progress > div {width: 100%; float: none;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox .user-progress > div.avg-grade {background-color: #eaeaea; border-radius: 3px; top: 50px; padding: 5px 8px; position: absolute; right: 7px; width: auto;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox .user-progress > div.avg-grade .name {font-size: 13px;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox:hover .user-progress > div.avg-grade {background-color: #fff;}
.tab-content .frontpage-courses-list .courses .coursebox .course-plan {text-align: left; font-size: 14px; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.tab-content .frontpage-courses-list .courses .coursebox .course-plan span {font:500 13px Roboto;}
.tab-content .frontpage-courses-list .courses .coursebox .course-certification {text-align: left; font-size: 14px; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.tab-content .frontpage-courses-list .courses .coursebox .course-certification span {font:500 13px Roboto;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox .course-plan {background-color: rgba(91, 183, 91, 0.2);  border-radius: 4px; font: 12px Roboto; max-width: 140px; padding: 4px 8px;  position: absolute; right: 7px; top: 84px;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox .course-plan span {display:none;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox:hover .course-plan {background-color: #fff; }
.tab-content.list-view .frontpage-courses-list .courses .coursebox .course-certification {background-color: rgba(222, 229, 239, 0.8);  border-radius: 4px; font: 12px Roboto; max-width: 140px; padding: 4px 8px;  position: absolute; right: 7px; bottom: 3px;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox .course-certification span {display:none;}
.tab-content.list-view .frontpage-courses-list .courses .coursebox:hover .course-certification {background-color: #fff; }

@media screen and (max-width: 1500px){
    .block_course_catalog .form-filter{width: 100%;}
}
@media screen and (max-width: 1100px){
    .tab-content.grid-view .frontpage-courses-list .courses .coursebox:not(:nth-child(3n)){margin: 0;}
    .tab-content.grid-view .frontpage-courses-list .courses .coursebox:not(:nth-child(2n)){margin-right: 4%;   }
    .tab-content.grid-view .frontpage-courses-list .courses .coursebox {width: 48%;}
}
@media screen and (max-width: 1000px){
    .block_course_catalog .form-filter {width: 100% !important; }
    .block_course_catalog .nav-tabs-header .nav-tabs-simple li {width: auto;}
}
@media screen and (max-width: 800px){
    /*.block_course_catalog .form-filter fieldset.courseactionsbox span.action-view {display: none;}
    .tab-content.list-view .frontpage-courses-list .courses .coursebox h3.coursename { background-color: transparent; border-bottom: 1px dashed #ccc; font-weight: 500; height: 40px; min-height: 40px; line-height: 19px; margin: 0; overflow: hidden; padding: 9px 0; text-align: left; text-overflow: ellipsis; text-transform: none; white-space: nowrap; width: 100%; margin-bottom: 10px;}
    .tab-content.list-view .frontpage-courses-list .courses .coursebox h4.course-teacher {padding: 0;text-overflow: ellipsis;hite-space: nowrap; width: 100%;overflow: hidden; height: 20px; min-height: 20px;}
    .tab-content.list-view .frontpage-courses-list .courses .coursebox h4.course-category {font:400 14px Roboto; padding: 0;text-overflow: ellipsis;hite-space: nowrap; width: 100%;overflow: hidden; height: 20px; min-height: 20px; margin: 0; text-align: left;}
    .tab-content.list-view .frontpage-courses-list .courses .coursebox .user-progress {padding: 0;}
    .tab-content.list-view .frontpage-courses-list .courses .coursebox .user-progress .progres-bar {display: none;}
    .tab-content.list-view .frontpage-courses-list .courses .coursebox:hover {background-color: transparent;}
    .tab-content.list-view .frontpage-courses-list .courses .coursebox h4.course-users {padding: 0;}*/
}
@media screen and (max-width: 650px){
    .block_course_catalog .nav-tabs-header .nav-tabs-simple li {width: 50%;}
}
@media screen and (max-width: 630px){
    .tab-content.grid-view .frontpage-courses-list .courses .coursebox:not(:nth-child(3n)){margin: 0;}
    .tab-content.grid-view .frontpage-courses-list .courses .coursebox:not(:nth-child(2n)){margin-right: 0;}
    .tab-content.grid-view .frontpage-courses-list .courses .coursebox {width: 100%; float: none;}
}
@media screen and (max-width: 630px){
    .block_course_catalog .nav-tabs-header .nav-tabs-simple li {width: 100%;}
    .block_course_catalog .nav-tabs-header .nav-tabs-simple li:after {width: 100% !important;}
}



