.block_sb_badges.block .title .block_action {display:none;}
.block_sb_badges.block .block-control-actions {display:none !important;}
.block_sb_badges.block .header h2 {border-bottom: 1px dashed #ccc; font: 300 17px Roboto; margin-bottom: 5px; padding:0 4px 8px; color: #333;}
.block.block_sb_badges .content {padding: 10px 0 5px;}
/*.block.block_sb_badges .badges {border-top: 1px solid #e7e7e7; padding-top: 10px;}*/
.block.block_sb_badges .badges li { border: 1px solid #eee; box-shadow: 1px 1px 2px #eee;  margin-bottom: 7px;  padding: 7px 60px 7px 8px; position: relative; text-align: left; background-color: #fff; display: block; width: auto;}
.block.block_sb_badges .badges li:hover { background-color: #f9f9f9;}
.block.block_sb_badges .badges li .badge-image { width: 45px; left: 0;height: 45px;}
.block.block_sb_badges .badges li .badge-actions { position: absolute; right: 10px;top: 9px;}
.block.block_sb_badges .badges li .badge-name { margin: 0 10px;display: inline-block;}