
.clear{clear:both;float:none;}
.clearfix {*zoom: 1;}
.clearfix:before,
.clearfix:after{display: table;line-height: 0;content: "";}
.clearfix:after{clear: both;}

.onof-switcher-box {margin-bottom: 7px !important;}
.onof-switcher-box label {margin: 0 !important;}
.onoff-switcher {position: absolute;margin-left: -9999px;visibility: hidden;}
.onoff-switcher + span {display: block;position: relative;cursor: pointer;outline: none;-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.onoff-switcher + span { padding: 2px; width: 40px !important; height: 20px; background-color: #dddddd;-webkit-border-radius: 60px; -moz-border-radius: 60px; -ms-border-radius: 60px; -o-border-radius: 60px; border-radius: 60px;}
.onoff-switcher + span:before, .onoff-switcher + span:after { display: block; position: absolute; top: 1px; left: 1px; bottom: 1px; content: "";}
.onoff-switcher + span:before { right: 1px; background-color: #f1f1f1; -webkit-border-radius: 60px;-moz-border-radius: 60px; -ms-border-radius: 60px; -o-border-radius: 60px; border-radius: 60px; -webkit-transition: background 0.4s; -moz-transition: background 0.4s; -o-transition: background 0.4s; transition: background 0.4s;}
.onoff-switcher + span:after {background-color: #fff;color: #fff; content: "."; height: 22px; position: absolute; width: 22px; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -webkit-transition: margin 0.4s; -moz-transition: margin 0.4s; -o-transition: margin 0.4s; transition: margin 0.4s;}
.onoff-switcher:checked + span:before { background-color: #8ce196;}
.onoff-switcher:checked + span:after { margin-left: 20px; }

.not-form-item {border-bottom: 1px solid #eee; margin-bottom: 15px; padding-bottom: 10px;}
.not-form-item label {display: block; margin-bottom: 2px; width: 100%;}
.not-form-item input[type="text"] {width: 30%;}
.notifications-settings .mx-jtabs-item {overflow-x:auto;}
.notifications-table {width:100%;}
.notifications-table tr th {border-top:1px solid #dddddd; border-bottom:1px solid #dddddd; background-color:#eeeeee; color:#333333; font:500 11px "Roboto";text-align:left; vertical-align:middle;padding:10px; text-transform: uppercase;}
.notifications-table tr th.center {text-align:center;}
.notifications-table tr td {border-bottom:1px solid #dddddd; color:#444444;padding:10px; text-align:left; vertical-align:middle; font:13px "Roboto";}
.notifications-table .not-category {padding:10px;}
.notifications-table tr .types {width:50px; }
.notifications-table tr .actions {width:50px; text-align:center; vertical-align:middle; }
.notifications-table tr .actions .btn-xs {font-size: 10px; padding: 0;text-transform: uppercase; width: 32px;}
.notifications-table tr .actions .actions-trigger {font-size: 14px; cursor:pointer;}
.notifications-table tr .actions .course-selector {cursor:pointer;}
.notifications-table tr .not-category strong {font-weight: 500;}
.notifications-table tr.disabled {opacity:0.7;}
.notifications-table tr.disabled .actions-trigger {cursor:default;}
.notifications-table tr.not-formbox td{padding:0;display:none;}
.notifications-table tr.not-formbox.active td{padding:3px; display:table-cell;}
.notifications-table tr.not-formbox .not-form-box{display:none;}
.not-form-box .fa-check.green {padding: 5px; font-size: 14px;}
.not-form-box .fa-check.green span {font-size: 14px;}
.not-form-items-f button {padding: 3px 15px; }
.not-form-item input[type="checkbox"] + label {width: auto; display: inline-block;}
.not-form-item .checkbox-box {width: 49%;}
.not-form-item .checkbox-box .label-box {width: auto;}
.not-form-item .not-form-item-part {width: 47%; float: left;}
.not-form-item .not-form-item-part:nth-child(2n) {margin-left: 5%;}

.notifications-settings .not-list { padding: 0; margin:0; list-style: none;}
.notifications-settings .not-list li { background-color: #ffffff; border: 1px solid #ddd; border-left: 3px solid #ccc; border-radius: 2px; padding: 7px 12px; margin-bottom:8px; position:relative; opacity:0.7;}
.notifications-settings .not-list li.not-category { background-color: #ffffff; border: 0; border-left: 0; border-radius: 2px; padding: 2px 12px; position:relative; margin-top: 25px;}
.notifications-settings .not-list li.not-category:first-child { margin-top: 0;}
.notifications-settings .not-list li.not-category strong { color: #000; font-weight: 500;}
.notifications-settings .not-list li.active { border-left:3px solid #69b076; opacity:1;}
.notifications-settings .not-list li .not-box { position:relative;}
.notifications-settings .not-list li .desc-box { float:left; width:70%;}
.notifications-settings .not-list li .name {color: #555; font-size: 15px;padding: 3px 0;}
.notifications-settings .not-list li .desc {font: 12px "Roboto"; padding: 0 0 7px;}
.notifications-settings .not-list li .actions-box {float:right; width:30%;}
.notifications-settings .not-list li .actions {position: absolute; right: 12px; top: 60%; margin-top:-15px;}
.notifications-settings .not-list li .actions span{ height: 25px;line-height: 23px; padding: 0; width: 45px; text-transform:uppercase; display: inline-block; text-align: center;}
.notifications-settings .not-list li .actions span i { line-height: 23px; }
.notifications-settings .not-list li .not-form-box { display:none; min-height:100px; border-top:1px solid #e7e7e7; position:relative; margin-top: 7px;}
.notifications-settings .not-list li .not-form-box i.fa-spin{ font-size: 25px; left: 50%; margin-left: -10px; margin-top: -10px; position: absolute;top: 50%;}
.notifications-settings .not-list li .not-form-box i.fa-check{ font-size: 18px; margin-top: 38px; position: relative; left:0; top:0;}
.notifications-settings .not-list li .not-form-box i.fa-check span{ font-size:15px; font-family: Roboto;}
.notifications-settings .not-list li .not-form-box.center{ text-align:center;}
.notifications-settings .not-list li .not-form-box .not-form-items-f{border-right: 1px solid #eee; float: left; margin-top: 14px; padding: 0; width: 55%;}
.notifications-settings .not-list li .not-form-box .not-form-items-f .not-form-item {padding: 10px 0 0}
.notifications-settings .not-list li .not-form-box .not-form-items-d{float: left; padding: 10px 0 0; width: 43%; margin-top:5px;}
.notifications-settings .not-list li .not-form-box .not-form-items-f .not-form-item {width: 90%;}
.notifications-settings .not-list li .not-form-box .not-form-items-f .not-form-item input, .notifications-settings li .not-form-box .not-form-items-f .not-form-item select{width: 100%;}
.notifications-settings .not-list li .not-form-box .not-form-items-f .not-form-item label {font:500 11px "Roboto"; color: #626262; text-transform: uppercase;}
.notifications-settings .not-list li .not-form-box .not-form-items-f .not-form-item .classyedit {min-height:150px; font:14px "Roboto";}
.notifications-settings .not-list li .not-form-box .not-form-items-f .not-form-item button {font: 13px "Roboto"; width:70px;}
.notifications-settings .not-list li .not-form-box .not-form-items-f button {margin-right: 0;}
.notifications-settings .not-list li .not-form-description {padding-left: 15px;}
.notifications-settings .not-list li .not-form-description h3 {	font-size: 15px; margin-bottom: 2px; margin-top: 10px;}
.notifications-settings .not-list li .not-form-description span {display: block;font-size: 13px;padding: 2px 0;}
.notifications-settings .not-list li .not-form-description span strong {font-style:italic; font-weight: 500;}
.notifications-settings .mx-jtabs {background-color: transparent;}
