.block_sb_combo.block {background-color: transparent;}
.block_sb_combo.block .content {padding: 0; position: relative;}
.side-post .block_sb_combo.block .content {padding: 0; position: relative;}
.block_sb_combo.block .content .combo-select {font-size: 12px; height: 25px; line-height: 25px; padding: 0 5px; position: absolute; right: 0; top: 4px; width: 85px !important; z-index: 1; background-color: #f2f2f2;}
.block_sb_combo.block .manage-link {border-top: 1px solid #e7e7e7; display: block; padding-top: 7px;}

.block_sb_combo .combo-header {position:relative;}
.block_sb_combo .combo-header ul:after { border-bottom: 1px solid rgba(0, 0, 0, 0.1); bottom: 3px; position: relative; width: 100%; z-index: 2;}
.block_sb_combo .combo-header ul li.header-item {margin:0; position: relative; float: left;}
.block_sb_combo .combo-header ul > li.header-item:after { background-color: #2082c7; content: "";display: block; height: 0; transition: all 0.1s linear 0s; width: 100%; z-index: 125;}
.block_sb_combo .combo-header ul > li.header-item.active:after, .block_sb_combo .combo-header ul > li.header-item:hover:after { height: 2px; }
.block_sb_combo .combo-header ul li.header-item a {display: block; border-color: transparent; border-radius: 0; color: rgba(98, 98, 98, 0.7); font: 500 11px "Roboto"; margin-right: 0; padding: 5px 10px; text-transform: uppercase; cursor: pointer;}
.block_sb_combo .combo-header ul li.header-item a:hover, .block_sb_combo .combo-header ul li.header-item.active a { color: #626262; border-color:transparent;}

.block_sb_combo .combo-content li.content-item {display: none; position: relative;}
.block_sb_combo .combo-content li.content-item.active {display:block; padding: 0;}