.announcements-search-form {text-align: right;}
.announcements-search-form label {display: initial;}
.announcements-search-form input[type="text"] {height: 32px; margin-right: 3px;}
.announcements-search-form a.btn {margin: -11px 5px 0 0;}

.path-local-sb_announcements .mdl-align {text-align: right;}