.leftside .block.block_talentquest_menu{padding:0;}

.user-left_menu .item-content-wrap{font:16px/45px "Roboto";color:#ffffff;vertical-align:middle;}
.user-left_menu .active a, .user-left_menu a:hover{text-decoration:none;outline:none;background-color: #500; }
.user-left_menu a{outline:none; position:relative; color: #ccc; line-height:82px;height: 71px;}
.user-left_menu li i{font-size: 30px;}
.user-left_menu li a {display: block; text-align: center;}
.user-left_menu li:hover .item-content-wrap{color:#fff;}
.user-left_menu li.dashboard a {height:70px; background-color: #500; line-height: 82px;}
.user-left_menu li.dashboard i, .user-left_menu li.active i, .user-left_menu li:hover i {color:#fff;}
.user-left_menu li.language-menu{bottom: 0;left: 0;position: absolute;}
.user-left_menu li.language-menu a {height:71px; width: 58px;}

.block.block_talentquest_menu .user-left_menu .dropdown-menu{top:0;background-color:transparent; border: medium none; box-shadow: none;position: relative;width: 100%;padding:0 0 10px;margin:0;}
.block.block_talentquest_menu .user-left_menu .dropdown-menu a{color:rgba(255, 255, 255, 0.5);font:16px/45px "Roboto"; white-space: normal;position:relative;padding: 3px 3px 3px 20px;}
.block.block_talentquest_menu .user-left_menu .dropdown-menu a:hover{color: #fff;background:none;}
.block.block_talentquest_menu .user-left_menu .dropdown-menu a .fa{font-size: 18px;left: 7px;position: absolute;top: 4px;}

.block.block_talentquest_menu .user-left_menu .notifi{background-color: #f96b5d;border-radius: 50%;color: #fff;font: 600 9px/18px arial;text-align:center;height:19px;width:19px;left: 8px;position: absolute;top: 12px;}

/* @media screen and (max-width : 1200px) {
	.user-left_menu .item-content-wrap{display:none;}
}

@media screen and (max-width: 650px) {
	.user-left_menu .item-content-wrap{display:inline;}
} */
