.block.block_sb_timeline .content {padding: 0;}
.block.block_sb_timeline .timeline-header h2 {border-bottom: 1px dashed #ccc;font: 300 17px Roboto; margin-bottom: 5px; padding-bottom: 8px; margin-top: 5px;}
.timeline.list .timesecion{width: auto;display:none;}
.timeline.list .timeslot .task a{font: 400 15px 'Roboto';}
.timeline.list .timeslot{transition:width 0.55s; width: 100%; 
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CED5E5;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; 
	-webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
	border-width: 1px 1px 2px;
    display: block;
    font-size: 11px;
    padding: 0px;
	margin: 5px 0 15px;
	background: none no-repeat scroll 0 20px #FFFFFF;
    border: 1px solid #CED5E5;
    box-shadow: 0 2px 0px #CED5E5;
}
.timeline.list .timeslot .task{padding: 5px 5px 5px 10px;display:block;float: none;width:auto;background-color:transparent;border:0;}
.timeline.list .timeslot .icon{
 background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    bottom: -3px;
    color: #CCCCCC;
    font-size: 14px;
    left: auto;
    padding: 0;
    right: 0;
    top: auto;
}
.timeline.list .timeslot .time{
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; 
 background-color: #F5F5F5;
    border-radius: 0;
    border-top: 1px dashed #E6E6E6;
    bottom: auto;
    color: #999999;
    display: block;
    font: 400 10px arial;
    left: 0;
    margin: 0;
    padding: 5px 15px;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
    top: auto;
    width: 100%;
}
.timeline.list .timeslot .arrow{display:none;}
.timeline.list:before {
    background: none repeat scroll 0 0 transparent;
    content: "";
    height: 100%;
    left: 50%;
    margin-left: -2px;
    position: absolute;
    width: 4px;
}

.timeline-header i:hover{background-color: rgba(91, 155, 180, 0.2);}
.timeline-header i.active{background-color: rgba(91, 155, 180, 0.2);}
.timeline-header i{font-size:14px;float:right;background-color: rgba(91, 155, 180, 0.1);
    cursor: default;
	text-align: center;
    width: 10px;
    line-height: 32px;
    margin: 0;
	border-left:1px solid rgba(221, 221, 221, 0.5);
    padding: 0 12px;
	cursor:pointer;
	}
.timeline-header h2{border-bottom: 1px dashed #ccc;font: 300 17px Roboto; margin-bottom: 5px; padding-bottom: 8px;}
.timeline-header{
	line-height: 32px;
	margin:5px 0 0;
	border: 0;
	position:relative;
}
.course-timeline-box .timeline-header {margin: 0;}
.timeline {
    height: 100%;
    margin: 20px auto;
    position: relative;
    width: auto;
}
.timeline:before {
    background: none repeat scroll 0 0 #CED5E5;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    width: 2px;
}
.timeslot {
    display: inline-block;
    margin: 5px 0;
    position: relative;
    width: 100%;
	
}
.timeslot .task {
    -moz-box-sizing: content-box;
    border: 0 none;
    display: block;
    height: auto;
    padding: 0;
    float:left;
    width: 47.5%;
	position: relative;
}
.timeslot.alt .task {
   float:right;
    width: 46%;
}
.timeslot.alt .task .arrow {
    height: 15px;
    left:-8px;
    position: absolute;
    top: 7px;
    width: 10px;
}
.timeslot.alt .time {
    left: auto;
    padding: 5px 20px 5px 7px;
    right: 54%;
    top: -2px;
}
.timeslot .task  {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C4CDE0;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; 
	-webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
	border-width: 1px 1px 2px;
    display: block;
    font-size: 11px;
    padding: 5px 5px 5px 10px;
    margin-top: -2px;
}
.timeslot .task p{
    font:400 11px  Arial;
	margin:0;
	text-transform: capitalize;
}
.timeslot .task a{
    font:400 13px  'Roboto';
	display: block;
	margin:3px 0
}
.timeslot .task span {
    font: 11px Arial; color:#999;
	display: block;
}

.timeslot .task .arrow {
    height: 15px;
    position: absolute;
    right: -10px;
    top:11px;
    width: 10px;
}
.timesecion {
    -moz-box-sizing: content-box;
    background: none repeat scroll 0 0 #A3B1CE;
    border-radius: 3px;
    color: #FFFFFF;
    font:400 14px 'Roboto';
    margin: 10px auto;
    text-align: center;
    width: 50px;
	z-index: 0;
	padding:2px 8px;
	position: relative;
}
.timesecion .load-more {cursor: pointer;}
.timeslot .icon {
    -moz-box-sizing: content-box;
    background: none repeat scroll 0 0 #ffffff;
    border: 2px solid #C4CDE0;
    border-radius: 50em;
    color: #FFFFFF;
    font-size: 16px;
    height: 30px;
    left: 50%;
    line-height: 30px;
    margin-left: -16px;
    position: absolute;
    text-align: center;
    text-shadow: none;
    width: 30px;
    z-index: 1;
}
.timeslot .icon img {
    height: 100%;
    margin-top: -3px;
    padding: 1px;
    width: 100%;
}
.timeslot .time {
    background: none repeat scroll 0 0 #E4E6EB;
    border-radius: 4px;
    left: 54%;
    padding: 5px 7px 5px 20px;
    position: absolute;
    top: -2px;
    z-index: 0;
	font-size: 11px;
}