.block_sb_activity_overview.block {background-color: transparent;}
.block_sb_activity_overview.block .content,.side-post .block_sb_activity_overview.block .content {padding: 0; position: relative;}

.block_sb_activity_overview.block .overview-list .title {border-bottom: 1px dashed #ccc; color: #444; font: 500 13px Roboto; padding: 5px 1px 3px;}
.block_sb_activity_overview.block .overview-list .item-data {padding: 3px 2px;}
.block_sb_activity_overview.block .overview-list .list-item {margin-top: 5px;}
.block_sb_activity_overview.block .overview-list .title-data { color: #777; float: right; font: 400 12px/17px Roboto;}
.block_sb_activity_overview.block .overview-list .item-stats-data { color: #2082c7; float: left; font: 20px Roboto;}
.block_sb_activity_overview.block .overview-list .item-stats-percentage { color: #777777; float: right; font: 300 18px Roboto; }
.block_sb_activity_overview.block .overview-list .item-stats-percentage.asc {color: #06a450;}
.block_sb_activity_overview.block .overview-list .item-stats-percentage.desc {color: #ff0000;}
.block_sb_activity_overview.block .overview-list .item-stats-percentage .fa { font-size: 13px; margin-right: 3px; }
.block_sb_activity_overview.block .overview-list .item-progress {background-color: #ddd; border-radius: 2px; height: 9px;  margin-top: 7px; position: relative;}
.block_sb_activity_overview.block .overview-list .item-progress-data {background-color: #06a450; border-radius: 2px; height: 9px; position: absolute;}