.etraining-search-form {text-align: right;}
.etraining-search-form label {display: initial;}
.etraining-search-form input[type="text"] {height: 32px; margin-right: 3px;}
.etraining-search-form a.btn {margin: -11px 5px 0 0;}

.path-local-etraining .mdl-align {text-align: right;}
.path-local-etraining #fitem_id_template {padding: 10px 0 5px;}
.path-local-etraining #fitem_id_template .fitemtitle, .path-local-etraining #fitem_id_template .felement.fstatic {float: left; width: 120px;}