.enrollment-users-table .userenrolment {margin: 5px 0 50px;}
.enrollment-users-table .userenrolment th {text-align: left; padding: }
.enrollment-users-table #filterform {border-bottom: 1px solid #e7e7e7; position: relative; text-align: right;margin-top: -15px;}
.enrollment-users-table #filterform fieldset .fitem {width: auto; float: none; display: block;}
.enrollment-users-table #filterform #fitem_id_search .felement {float: right;}