body {
    font-family: 'Open Sans';
    height: 100vh;
    position: relative;
    top: 0;
}
body, html {
    min-height: 100vh;
    position: relative;
}
content{
  display: block;
  margin-bottom: 40px;
  margin-top: 30px;
}
.table-list h4{margin: 0;}
.table-list p{font-size: 13px;color: #ccc}
.table-list tr td{vertical-align: middle}
.table-list .icon{background: #33bdec none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: left;
    font-size: 32px;
    line-height: 60px;
    margin-right: 15px;
    text-align: center;
    width: 60px;}
.dashboard-header h4{margin-top: 0px;}
.dashboard-header h3{font-size: 50px;font-weight: 100;}
.dashboard-header h6{font-weight: 400;color: #ccc}
table thead tr th{text-align:center;}
table tbody tr td i{color: #4f8ef7}
.container{width: auto; padding-left: 25px; padding-right: 25px;}
.sidebar .nav > li > a {line-height: 32px; font-weight: 400;}
.card .header{}
.card .header a{float: right;text-align: center; line-height: 18px; padding: 5px 10px;}
.card .header a i{font-size: 21px;}
.card .header a span{display: block;font-size: 13px;}
.navbar .navbar-nav li a > i{font-size: 21px}
.navbar .navbar-nav .noty {
    border-radius: 10px;
    color: #999;
    font-size: 9px;
    font-weight: bold;
    height: 18px;
    left: 15px;
    line-height: 18px;
    padding: 0 5px;
    position: absolute;
    text-align: center;
    top: 13px;
}
.form-group{position: relative}
.showhidepass {position: absolute;top: 6px;left: 41%;font-size: 21px;color: rgba(64, 145, 255, 0.6);cursor: pointer}
.showhidepass:hover {color: rgba(64, 145, 255, 0.9);}
table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting{padding-right: 0px;}
.datatable table tbody tr td i{font-size: 21px;margin: 0 3px;}
.datatable .toolbar{float: left;margin-left: 15px;}
.datatable div.dataTables_wrapper div.dataTables_filter {
    margin-right: 15px;
}
.datatable div.dataTables_wrapper div.dataTables_info{
  float: left;
    margin-left: 15px;
}
.datatable div.dataTables_wrapper div.dataTables_paginate{
  margin-right: 15px;
}
.datatable table.dataTable thead .sorting_desc::after{
  font-family: "Ionicons";
  content:"\f365"
}
.datatable table.dataTable thead .sorting_asc::after{
  font-family: "Ionicons";
  content:"\f35f";
}

.datatable:after {
  display: table;
  content: "";
  clear: both;
}

.systems-form .form-group.form-actions {border-top: 1px solid #ddd; margin:0; padding-top:15px;}
.systems-form .form-header {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    color: #777;
    margin-bottom: 20px;
    padding: 12px 1px;
    text-shadow: 1px 1px 1px #eee;
}
.systems-form label .required {
    color: #cc0000;
}
.systems-form .domain-mask {
    color: #777777;
    font: 15px 'Open Sans';
    margin-left: 7px;
}
.systems-form .req {
    border-color: #fc727a;
}
.ion-loader:before {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.systems-form .ajax-result i {
    font-size: 28px;
    line-height: 28px;
    margin-left: 10px;
    margin-top: 7px;
    position: absolute;
}
.systems-form .ajax-result .green {color:#468847;}
.systems-form .ajax-result .red {color:#cc0000;}
.systems-form .ajax-result .yellow {color:#fa931a;}

.d-steps {list-style: none outside none; margin: 0; padding: 0;}
.d-steps .d-steps-item { border-bottom: 1px solid #ededed; font: 14px Open Sans; padding: 10px; position: relative; display:none;}
.d-steps .d-steps-item.visible {display:block;}
.d-steps .d-steps-item.completed-item {line-height: 28px;}
.d-steps .d-steps-item .item-num { border: 2px solid #bbb; border-radius: 50%; color: #aaa; display: inline-block; font: bold 15px/22px Open Sans; height: 28px; margin-right: 5px; text-align: center; width: 28px;}
.d-steps .d-steps-item .status-box { height: 43px; position: absolute; right: 0; top: 0; width: 43px;}
.d-steps .d-steps-item .completed-text { font: bold 14px Open Sans; text-transform: uppercase;}
.d-steps-item.completed {color: #468847;}
.d-steps-item.completed .item-num {border: 2px solid #468847;color: #468847;}
.d-steps-item.error {color: #b94a48;}
.d-steps-item.error .item-num {border: 2px solid #b94a48;color: #b94a48;}
.d-steps .d-steps-item .status-box {text-align:center;}
.d-steps .d-steps-item .status-box i{font-size: 25px; padding-top: 10px;}
.d-steps .d-steps-item .status-box .ion-loader {color:#aaa;}
.d-steps-item.warning {color: #fa931a;}
.d-steps-item.warning .item-num {border: 2px solid #fa931a;color: #fa931a;}

.form-group .status-box { height: 43px; position: absolute; right: 0; top: 0; width: 43px;}
.form-group .status-box {text-align:center;}
.form-group .status-box i{font-size: 25px; padding-top: 10px;}
.form-group .status-box .ion-loader {color:#aaa;}

/***** Data Tables Styles *****/
.dt-buttons {
    margin-left: 15px;
}

.dt-buttons .dt-button {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #87CB16;
    border-radius: 4px;

    -webkit-transition: all 60ms ease-in;
    -moz-transition: all 60ms ease-in;
    -o-transition: all 60ms ease-in;
    -ms-transition: all 60ms ease-in;
    transition: all 60ms ease-in;

    font-weight: 400;
    padding: 8px 16px;

    color: #FFFFFF;
    background-color: #87CB16;
    opacity: 1;
    filter: alpha(opacity=100);
}

button.dt-button:hover:not(.disabled),
div.dt-button:hover:not(.disabled),
a.dt-button:hover:not(.disabled),
button.dt-button:focus:not(.disabled),
div.dt-button:focus:not(.disabled),
a.dt-button:focus:not(.disabled),
button.dt-button:active:not(.disabled),
div.dt-button:active:not(.disabled),
a.dt-button:active:not(.disabled) {
    background-color: #78b414;
    color: #FFFFFF;
    background-image: none;
    border: 1px solid #87CB16;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    text-align: center;
    cursor: pointer;
    border-radius: 0;

    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;

    margin: 0 2px;
    color: #797979 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: #23CCEF;
    background-image: none;
    border: 0;
    color: #FFFFFF !important;
    padding: 7px 13px;
    outline: none;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:active,
.dataTables_wrapper .dataTables_paginate .paginate_button:focus {
    z-index: 3;
    color: #23CCEF !important;
    background-color: #eee;
    background-image: none;
    border-color: #ddd;
    outline: none;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #777 !important;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
    opacity: .4;
    outline: none;
    box-shadow: none;
}

table.dataTable.no-footer {
    border-bottom: none;
    margin-bottom: 6px;
}

.datatable div.dataTables_wrapper div.dataTables_filter {
    margin-right: 15px;
}

.datatable div.dataTables_wrapper div.dataTables_filter label {
    display: block;
}

.dataTables_wrapper .dataTables_filter input {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    color: #565656;
    padding: 8px 12px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
}

#table_filter {
    display: inline-block;
    width: auto;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.dataTables_length {font-weight: 400; margin-left: 15px; color: #333;}
.dataTables_length label {font-weight: 400; color: #333;}
.dataTables_length select {
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: none;
    color: #565656;
    padding: 6px 10px;
    transition: all 300ms linear 0s;
    font-size: 14px;
    font-weight: normal;
    margin: 0 5px 0 3px;
}

